# **1. 데이터 전처리(Data Preprocessing)**

* 매우 중요하다!!!! (전처리는 데이터 사이언스에서 제일 중요)

In [26]:
import pandas as pd

In [68]:
# 데이터프레임 받아오기
df = pd.read_csv('https://bit.ly/ds-house-price')

In [69]:
#1. column의 이름을 재정의
df = df.rename(columns={'분양가격(㎡)': '분양가격'})
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [70]:
# 2. 빈 값과 Data Type 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [71]:
#3. 통계값 확인
df.describe()
# 분양가격은 숫자형이 아니란 것을 알수있음

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [72]:
# 4. 분양가격 column을 int 타입으로 변환
df['분양가격'].astype(int)

ValueError: ignored

In [73]:
# 4-1. strip()을 활용하여 공백이 있는 데이터의 공백없애기
df['분양가격'] = df['분양가격'].str.strip();

In [74]:
df.loc[df['분양가격'] == '  ']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [75]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [76]:
df['분양가격'].astype(int)

ValueError: ignored

In [77]:
# 4-2. 공백이 있던 데이터를 모두 0으로 변경
df.loc[df['분양가격']=='', '분양가격'] = 0

In [78]:
df.loc[df['분양가격'] == '']

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [79]:
df['분양가격'].astype(int)

ValueError: ignored

In [80]:
# 4-3. NaN값을 fillna로 0을 채워줌
df['분양가격'] = df['분양가격'].fillna(0)

In [81]:
df['분양가격'].astype(int)

ValueError: ignored

In [82]:
# 4-4, ,(콤마)가 들어간 데이터를 확인하고 제거
df.loc[df['분양가격'] == '6,657']

     지역명 규모구분    연도   월   분양가격
2125  서울   전체  2017  11  6,657

In [83]:
df['분양가격'] = df['분양가격'].str.replace(',','')

In [84]:
df.iloc[2125]

지역명       서울
규모구분      전체
연도      2017
월         11
분양가격    6657
Name: 2125, dtype: object

In [85]:
df['분양가격'].astype(int)

ValueError: ignored

In [86]:
# 4-5. NaN값을 fillna로 0을 채워줌
df['분양가격'] = df['분양가격'].fillna(0)

In [87]:
df['분양가격'].astype(int)

ValueError: ignored

In [88]:
# 4-6. -(하이픈) 없애준다
df['분양가격'] = df['분양가격'].str.replace('-','')

In [89]:
df['분양가격'].astype(int)

ValueError: ignored

In [90]:
# 4-3. NaN값을 fillna로 0을 채워줌
df['분양가격'] = df['분양가격'].fillna(0)

In [91]:
df['분양가격'].astype(int)

ValueError: ignored

In [96]:
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [99]:
df['분양가격'] = df['분양가격'].astype(int)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

In [101]:
# 5. 규모구분 column에 불필요한 '전용면접' 제거하기
df['규모구분'].value_counts()

전용면적 102㎡초과          901
전용면적 85㎡초과 102㎡이하    901
전용면적 60㎡이하           901
전용면적 60㎡초과 85㎡이하     901
전체                   901
Name: 규모구분, dtype: int64

In [102]:
df['규모구분'] = df['규모구분'].str.replace('전용면적','')

In [103]:
df['규모구분'].value_counts()

 85㎡초과 102㎡이하    901
 60㎡초과 85㎡이하     901
 60㎡이하           901
 102㎡초과          901
전체               901
Name: 규모구분, dtype: int64

In [104]:
# 6. 지역명 별로 평균 분양가격을 확인
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

In [105]:
# 7. 분양가격이 100보다 작은 행을 제거
df.loc[df['분양가격']<100]

     지역명           규모구분    연도   월  분양가격
28    광주   85㎡초과 102㎡이하  2015  10     0
29    광주         102㎡초과  2015  10     0
34    대전         102㎡초과  2015  10     0
81    제주          60㎡이하  2015  10     0
113   광주   85㎡초과 102㎡이하  2015  11     0
...   ..            ...   ...  ..   ...
4461  세종          60㎡이하  2020   2     0
4488  전남   85㎡초과 102㎡이하  2020   2     0
4493  경북   85㎡초과 102㎡이하  2020   2     0
4499  경남         102㎡초과  2020   2     0
4503  제주   85㎡초과 102㎡이하  2020   2     0

[320 rows x 5 columns]

In [108]:
idx = df.loc[df['분양가격']<100].index
idx

Int64Index([  28,   29,   34,   81,  113,  114,  119,  166,  198,  199,
            ...
            4418, 4448, 4453, 4458, 4459, 4461, 4488, 4493, 4499, 4503],
           dtype='int64', length=320)

In [109]:
df = df.drop(idx, axis = 0)
df

     지역명           규모구분    연도   월  분양가격
0     서울             전체  2015  10  5841
1     서울          60㎡이하  2015  10  5652
2     서울    60㎡초과 85㎡이하  2015  10  5882
3     서울   85㎡초과 102㎡이하  2015  10  5721
4     서울         102㎡초과  2015  10  5879
...   ..            ...   ...  ..   ...
4498  경남   85㎡초과 102㎡이하  2020   2  3247
4500  제주             전체  2020   2  3955
4501  제주          60㎡이하  2020   2  4039
4502  제주    60㎡초과 85㎡이하  2020   2  3962
4504  제주         102㎡초과  2020   2  3601

[4185 rows x 5 columns]

In [110]:
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

In [116]:
# 지역별로 데이터 갯수를 확인

# df.groupby('지역명')['분양가격'].count()

# 지역별로 최고 비싼 분양가를 확인

# df.groupby('지역명')['분양가격'].max()

# 연도별로 분양가격 평균을 확인

df.groupby('연도')['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64